footer.footer
  .container.container_adaptive

    .footer__content
      .footer__component.footer_requisites-component.
        ООО "Каскад"<br>ИНН 5610163750<br>ОГРН 1145658028273

      .footer__component
        a.footer__link.footer_policy(href="#") Политика конфиденциальности

      .footer__component.footer_callback-component.
        Обратная связь

