footer.footer
  .container.container_adaptive

    .footer__content
      .footer__component.
        ИП СТЕПАНОВ О.Ю. ИНН 645054519883 ОГРН 316645100090075

      .footer__component.
        Политика конфиденциальности

      .footer__component.
        Обратная связь

