header.header
  .container.container_adaptive

    .header__content
      .header__component.header_logo-block
        a.header__logo-link(href="/")
          img.header__logo-image(src="/assets/img/logo.svg")

      .header__component.header_title
        h2.header__title-text.
          Создаем кухни шедевры с 2004 года

      .header__component.header_contacts
        .header__phone-block 8 (800) 555-35-35