@import "layout/common";

@import "_mixins";

$primary-color: #f5a551;

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  height: 100%;

  @include phones() {
    font-size: 14px;
  }
}

body {
  background: grey url("../img/main-background/provans.jpg") center no-repeat fixed;
  background-size: cover;
  color: white;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 70px;
}

.container {
  width: 1230px;
  margin: 0 auto;
  position: relative;

  //@TODO When finish adaptive part - remove unnecessary class from here and from all .container -s in html
  &_adaptive {
    @include desktop {
      width: 990px;
    }

    @include laptop() {
      width: 750px;
    }

    @include tablets() {
      width: 95%;
    }
  }
}

@import "sections/header";
@import "sections/main-content";
@import "sections/footer";

@import "components/moreInfoWindow";
@import "components/moreInfo";