.main-content__discount-section
  h3.main-content__discount-title
    | Пройдите тест до конца
    | и успейте получить персональную скидку
    | <span class="main-content__significant-text">на все работы</span>
  .main-content__discount-block
    h2.main-content__discount
      | <span id="discount">0</span>
      | руб.

.main-content__callback-section
  form.main-content__callback-form
    h3.main-content__callback-title Обратный звонок
    input.main-content__callback-input(type="text" name="name" placeholder="Имя")
    input.main-content__callback-input(type="phone" name="phone" placeholder="Телефон" required)

    .main-content__callback-policy
      input.main-content__callback-policy-checkbox(type="checkbox" name="confirmation" value="yes" checked required)
      .main-content__callback-policy-text.
        Для отправки заявки необходимо дать согласие на <a class="main-content__callback-policy-link" href="#">обработку персональных данных</a>

    button.main-content__callback-button(type="submit") Позвонить мне

