.main-content__discount-section
  h3.main-content__discount-title
    | Пройдите тест до конца
    | и успейте получить персональную скидку
    | <span class="main-content__significant-text">на все работы</span>
  .main-content__discount-block
    h2.main-content__discount
      | <span id="discount">0</span>
      | руб.

.main-content__callback-section
  form.main-content__callback-form
    h3.main-content__callback-title Обратный звонок
    input.main-content__callback-input(type="text" name="name" placeholder="Имя")
    input.main-content__callback-input(type="phone" name="phone" placeholder="Телефон" required)
    button.main-content__callback-button(type="submit") Позвонить мне

