// First question
.main-content__question(data-question="1")
  h3.main-content__question-number Вопрос 1 из 5
  h2.main-content__question-title В каком стиле хотите кухню?

  .main-content__answer-container
    .main-content__answer.main-content_image-answer

      img.main-content__answer-image(src="/assets/img/question/modern.jpg" alt="Кухня Модерн")

      .main-content__answer-managment-block
        input#q1_1.main-content__answer-checkbox(type="radio" name="queston1")
        label.main-content__answer-checkbox-label(for="q1_1") Модерн


    .main-content__answer.main-content_image-answer

      img.main-content__answer-image(src="/assets/img/question/provans.jpg" alt="Кухня Прованс")

      .main-content__answer-managment-block
        input#q1_2.main-content__answer-checkbox(type="radio" name="queston1")
        label.main-content__answer-checkbox-label(for="q1_2") Прованс


    .main-content__answer.main-content_image-answer

      img.main-content__answer-image(src="/assets/img/question/classic.jpg" alt="Кухня Классика")

      .main-content__answer-managment-block
        input#q1_3.main-content__answer-checkbox(type="radio" name="queston1")

        label.main-content__answer-checkbox-label(for="q1_3") Классика


    .main-content__answer.main-content_image-answer

      img.main-content__answer-image(src="/assets/img/question/italy.jpg" alt="Кухня Италия")

      .main-content__answer-managment-block
        input#q1_4.main-content__answer-checkbox(type="radio" name="queston1")

        label.main-content__answer-checkbox-label(for="q1_4") Италия

  .main-content__question-managment
    a.main-content__question-button.main-content_next-button(href="#" data-next="2") Далее


// Second question
.main-content__question(data-question="2")
  h3.main-content__question-number Вопрос 2 из 5
  h2.main-content__question-title Какой материал столешницы?

  .main-content__answer-container

    .main-content__answer.main-content_text-answer
      input#q2_1.main-content__answer-checkbox(type="radio" name="queston2")

      label.main-content__answer-checkbox-label(for="q2_1") Массив дерева

    .main-content__answer.main-content_text-answer
      input#q2_2.main-content__answer-checkbox(type="radio" name="queston2")

      label.main-content__answer-checkbox-label(for="q2_2") Искусственный камень

    .main-content__answer.main-content_text-answer
      input#q2_3.main-content__answer-checkbox(type="radio" name="queston2")

      label.main-content__answer-checkbox-label(for="q2_3") Натуральный мрамор

    .main-content__answer.main-content_text-answer
      input#q2_4.main-content__answer-checkbox(type="radio" name="queston2")

      label.main-content__answer-checkbox-label(for="q2_4") Столешница из пластика

  .main-content__question-managment
    a.main-content__question-button.main-content_next-button(href="#" data-next="3") Далее

// Third quesiton
.main-content__question(data-question="3")
  h3.main-content__question-number Вопрос 3 из 5
  h2.main-content__question-title Какая примерная длина кухни?

  .main-content__answer-container

    .main-content__answer.main-content_text-answer
      label.main-content__input-label(for="q3_1") Oбщая протяженность кухни:
      input#q3_1.main-content__answer-input(type="text" name="queston3" placeholder="Например: 1.5м")

  .main-content__question-managment
    a.main-content__question-button.main-content_next-button(href="#" data-next="4") Далее

// Forth quesiton
.main-content__question(data-question="4")
  h3.main-content__question-number Вопрос 4 из 5
  h2.main-content__question-title Нужна столовая группа в стиль кухни?

  .main-content__answer-container
    .main-content__answer.main-content_text-answer
      input#q4_1.main-content__answer-checkbox(type="radio" name="queston4")

      label.main-content__answer-checkbox-label(for="q4_1") Да

    .main-content__answer.main-content_text-answer
      input#q4_2.main-content__answer-checkbox(type="radio" name="queston4")

      label.main-content__answer-checkbox-label(for="q4_2") Нет

  .main-content__question-managment
    a.main-content__question-button.main-content_next-button(href="#" data-next="5") Далее

// Fifth quesiton
.main-content__question(data-question="5")
  h3.main-content__question-number Вопрос 5 из 5
  h2.main-content__question-title Когда планируете начать изготовление?

  .main-content__answer-container
    .main-content__answer.main-content_text-answer
      input#q5_1.main-content__answer-checkbox(type="radio" name="queston5")

      label.main-content__answer-checkbox-label(for="q5_1") Сейчас

    .main-content__answer.main-content_text-answer
      input#q5_2.main-content__answer-checkbox(type="radio" name="queston5")

      label.main-content__answer-checkbox-label(for="q5_2") Через неделю

    .main-content__answer.main-content_text-answer
      input#q5_3.main-content__answer-checkbox(type="radio" name="queston5")

      label.main-content__answer-checkbox-label(for="q5_3") Через месяц

    .main-content__answer.main-content_text-answer
      input#q5_4.main-content__answer-checkbox(type="radio" name="queston5")

      label.main-content__answer-checkbox-label(for="q5_4") Дольше по времени

  .main-content__question-managment
    a.main-content__question-button.main-content_next-button(href="#" data-next="end") Далее



