extends ../_template

block variables
  - var title = 'Home page'

block content
  .page-wrap
    include ../sections/_header
    include ../sections/_main-content

  .site-footer
    include ../sections/_footer

  include ../components/moreInfoWindow